.grid-container {
  display: grid;
  grid-template-columns: 0.8fr repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr) 0.8fr;
  grid-gap: 15px;
  width: 100%;
  margin-bottom: 2rem;
}

.grid-title {
  font-weight: bold;
  font-size: 0.8rem;
}

.grid-text {
  font-weight: 600;
  font-size: 1.5rem;
}

.grid-item1 {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.grid-item2 {
  grid-column: 2 / 3;
  grid-row: 1;
}
.grid-item3 {
  grid-column: 3 / 4;
  grid-row: 1;
  white-space: nowrap;
}
.grid-item4 {
  grid-column: 4 / 5;
  grid-row: 1;
}
.grid-item5 {
  grid-column: 5 / 6;
  grid-row: 1;
}
.grid-item6 {
  grid-column: 2 / 3;
  grid-row: 2/-1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.grid-item7 {
  grid-column: 3 / -1;
  grid-row: 2/-1;
}
.grid-item8 {
  grid-column: 1 / 2;
  grid-row: 4/-1;
  align-self: center;
  justify-self: center;
  height: 100%;
  display: flex;
  align-items: end;
}

.description {
  font-size: 0.9rem;
  text-align: center;
}

.info-container {
  display: flex;
  border: 0.5px #e8e8ec solid;
  border-radius: 15px;
  padding: 0.5rem 0.6rem 0rem 0.6rem;
}

.info-container > div {
  margin: 0rem 0.5rem;
}

.info-container > :not(div > :first-child) {
  margin: 0rem 0.5rem;
  padding-left: 1.5rem;
  position: relative;
}
.info-container > :not(div > :first-child):after {
  content: "";
  position: absolute;
  left: 0;
  border-left: 1px solid #e8e8ec;
  top: 20%;
  bottom: 30%;
}

.info-container__title {
  font-weight: 600;
  font-size: 0.9rem;
  margin: 0;
}

.info-container__currency {
  color: #34c759;
  font-weight: 700;
  font-size: 0.8rem;
  padding-right: 0.5rem;
  white-space: nowrap;
}

.info-container__percentage {
  border-left: 1px #e8e8ec solid;
  color: #34c759;
  font-weight: 400;
  font-size: 0.8rem;
  padding-left: 0.5rem;
}

.info-container__summary {
  display: flex;
}
